@import "../../styles/variables";

.countDown {
  display: flex;
  align-items: center;
}

.inner {
  background-color: $actionColor;
  border-radius: 25px;
  padding: 8px 12px;
  margin: auto;
  text-align: center;
  font-size: $font-size-sm;
  display: inline-block;
}
