@import "../../styles/variables";

.container {
  padding-top: $bodyPadding;
  padding-bottom: $bodyPadding;
}

.form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.back {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 30px;
  svg {
    margin-right: 5px;

    path {
      fill: $linkColor;
    }
  }
  &:hover {
    svg path {
      fill: $linkHoverColor;
    }
  }
}

.dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  dt {
    width: 50%;
    flex-basis: 50%;
    font-weight: bold;
    margin: 0 0 12px;
  }
  dd {
    width: 50%;
    flex-basis: 50%;
    margin: 0 0 12px;
  }
}

.edit {
  margin: 0.15rem 0 2rem;
  display: inline-block;
}

@media (min-width: $deviceMdMin) {
  .container {
    display: flex;
  }
  .content {
    flex: 1;
    padding-right: 50px;
  }
  .form {
    max-width: 600px;
  }
}
